<footer id="footer">
  <div class="wrapper">
    <p>
        <a href="/">Add to Slack</a> |
        <a href="/show-sign-in">Sing in with Slack</a> |
        <a href="https://github.com/shishirsharma/EodBot">Github</a>
    </p>
  </div>
</footer>
