    <div class="hero">

        <h1>I am a bot.</h1>

        <a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=178491668144.410672295779&redirect_uri=http://localhost:3001/signin"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>

    </div>
